<div class="container">
  <div class="row">
    <h1>Devices</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <button class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let dev of devices" (click)="dev_selected=dev" [ngClass]="{'active': dev_selected == dev}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{dev.name}}</h5>
            <small class="text-muted">Last seen {{dev.last_seen | amFromUnix | amUtc | amDateFormat: "DD.MM.YYYY HH:mm"}}</small>
          </div>
          <small>{{dev.mac}}</small>
        </button>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newDevice"><i class="fas fa-plus-circle"></i> Add</a>
      </div>
    </div>
    <div class="col-sm-8" *ngIf="dev_selected">
      <h2>Settings</h2>

      <form>
        <div class="form-group">
          <label for="devName">Name</label>
          <input type="text" class="form-control" id="devName" name="devName" [(ngModel)]="dev_selected.name">
        </div>
        <div class="form-group">
          <label for="devMac">MAC Address</label>
          <input type="text" class="form-control" id="devMac" name="devMac" [(ngModel)]="dev_selected.mac">
        </div>
        <div class="form-group">
          <label>Streams</label>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let stream of dev_selected.streams">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{stream.name}}</h5>
                <a href="#" (click)="dev_remove_stream(dev_selected, stream)"><i class="fas fa-trash-alt"></i></a>
              </div>
            </li>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#addStream"><i class="fas fa-plus-circle"></i> Add</a>
          </ul>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="devScreenEnable" name="devScreenEnable" [(ngModel)]="dev_selected.screen_enable">
          <label class="form-check-label" for="devScreenEnable">Enable Screen</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="updateDevice(dev_selected)">Save</button>
        <button class="btn btn-danger" (click)="deleteDevice(dev_selected)"><i class="fas fa-trash-alt"></i> Delete</button>
      </form>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addStream" tabindex="-1" role="dialog" aria-labelledby="addStreamLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStreamLabel">Add Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group" *ngFor="let stream of streams" (click)="stream_selected=stream">
          <button class="list-group-item list-group-item-action flex-column align-items-start" [ngClass]="{'active': stream_selected == stream}">
            <h5 class="mb-1">{{stream.name}}</h5>
            <small>{{stream.url}}</small>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dev_selected.streams.push(stream_selected)">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newDevice" tabindex="-1" role="dialog" aria-labelledby="newDeviceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newDeviceLabel">Create Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="devName">Name</label>
          <input type="text" class="form-control" id="devName" name="devName" [(ngModel)]="new_dev_name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="device_add(new_dev_name)">Add</button>
      </div>
    </div>
  </div>
</div>
