<div class="container">
  <div class="row">
    <h1>High Scores</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <button class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let room of rooms" (click)="room_selected=room" [ngClass]="{'active': room_selected == room}">
          <h5 class="mb-1">{{room.name}}</h5>
        </button>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newRoom"><i class="fas fa-plus-circle"></i> Add</a>
      </div>
    </div>
    <div class="col-sm-8" *ngIf="room_selected">
      <h2>{{room_selected.name}}</h2>

      <form>
        <div class="form-group">
          <label for="roomName">Name</label>
          <input type="text" class="form-control" id="roomName" name="roomName" [(ngModel)]="room_selected.name">
        </div>
        <div class="form-group">
          <label>Scores</label>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Time</th>
                  <th scope="col">Created At</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let score of room_selected.scores; index as i">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{score.name}}</td>
                  <td>{{score.time}}</td>
                  <td>{{score.created_at}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#newScore"><i class="fas fa-plus-circle"></i> Add Score</button>
        <button type="submit" class="btn btn-primary" (click)="updateRoom(room_selected)">Save</button>
        <button class="btn btn-danger" (click)="deleteRoom(room_selected)"><i class="fas fa-trash-alt"></i> Delete</button>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="newScore" tabindex="-1" role="dialog" aria-labelledby="newScoreLabel" aria-hidden="true" *ngIf="room_selected">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRoomLabel">Add Score to {{room_selected.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="scoreName">Name</label>
          <input type="text" class="form-control" id="scoreName" name="scoreName" [(ngModel)]="new_score_name">
        </div>
        <div class="form-group">
          <label for="scoreTime">Time</label>
          <input type="text" class="form-control" id="scoreTime" name="scoreTime" [(ngModel)]="new_score_time">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addScoreToRoom(room_selected, new_score_name, new_score_time)">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newRoom" tabindex="-1" role="dialog" aria-labelledby="newRoomLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRoomLabel">Create Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="roomName">Name</label>
          <input type="text" class="form-control" id="roomName" name="roomName" [(ngModel)]="new_room_name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addRoom(new_room_name)">Add</button>
      </div>
    </div>
  </div>
</div>
